<div class="main-container">
    <div class="flex-box">
        <div>
            <h1>Hi. My Name is Sahil.</h1>
        </div>
            <p>Thanks for vising my portfolio. </p>
        </div>
</div>

{{> projects }}

